/* linked to mestre_meyer_evette_styling_text/styling_text.html */
/*kuler colors: 3996FF med_blu, 0054B3 dk_blu, A4CFFF lt_blu, B3A080 dk_tan, FFF3DD lt_tan
 - https://kuler.adobe.com/Ocean-and-Sandstone-color-theme-201376/*/

body {
	color: #0054B3;
	background-image: url('images/beach.jpg');
	width: 90%;
	margin: 0 auto;}
	
h1	{
	color: white;
	font-family: 'Joti One', cursive;
	text-transform: uppercase;
	text-shadow: 2px 2px 7px #111111;
	font-size: 8em;
	text-align: center;
	padding: 20px;
	margin: 25px auto 25px auto;
	width: 930px;}	
	
#content {
	overflow: auto;
	height: 100%;}

ul {
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	background-color: #fff3dd;
	padding: 5px;
	color: #0054b3;}
	
ul li	{
	display: inline;
	margin-right: 25px;
	text-align: center;}
	
ul li.sails_technique {
	display: none;}
	
h2 {
	color: #0054B3;
	text-align: center;
	font-family: Arial, Verdana, sans-serif;}
	
#feature {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b59970), color-stop(12%,#f3e2c7), color-stop(92%,#e9d4b3), color-stop(99%,#b59970)); /* Chrome,Safari4+ */	padding: 25px;
	border-radius: 10px;
	margin: 10px;
	clear: none;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.0em;
	}
	
#nav, #feature, #footer {
	margin: 1%;}
	
.column1, .column2 {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b59970), color-stop(12%,#f3e2c7), color-stop(92%,#e9d4b3), color-stop(99%,#b59970)); /* Chrome,Safari4+ */	font-size: .938em;
	width: 44%;
	float: left;
	margin: 1%;
	padding: 25px;
	border-radius: 10px;
	height: 1840px;
	border: 2px #0054B3;
	font-family: Arial, Verdana, sans-serif;
	font-size: .938em;
	clear: none;}

.columns2 {
	margin-right: 0%;
	overflow: scroll;}
	
h3	{
	color: #0054B3;
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	font-style: italic;
	font-weight: bold;}

	
.footer{
	height: 175px;
	width:85%;
	border-radius: 10px;
	margin: 25px;
	overflow: scroll;background-color: #FFF3DD;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b59970), color-stop(12%,#f3e2c7), color-stop(92%,#e9d4b3), color-stop(99%,#b59970)); /* Chrome,Safari4+ */	font-family: Arial, Verdana, sans-serif;
	font-size: .938em;
	line-height: 1.6em;
	padding: 20px 20px 20px 100px;
	height: 525px;}

p:first-letter{
	font-size: 200%;}
p:first-line{
	font-weight: bold;}
	
a:link	{
	text-decoration: none;
	color: blue;}
	
a:hover {
	text-decoration: underline;
	color: green;}

a:visited {
	color: purple;}
	
a:active {
	color: cyan;
	text-decoration: underline;}
	
